.button-like {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  align-self: center;
  justify-content: center;
  object-position: center;
  object-fit: cover;
  height: 19px;
  max-width: 23px;
  background: transparent url(../../images/like.svg) no-repeat center / 22px;
  margin-left: 25px;
  z-index: 2;
}

.button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}
