.button__like {
  height: 19px;
  max-width: 23px;
  background: transparent url(../../../images/like.svg) no-repeat center / 22px;
  margin-left: 25px;
  z-index: 2;
}

.button__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.button__like:focus {
  opacity: 0.5;
}
