.popup__form_input-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  border: 0;
  max-width: 358px;
  width: 100%;
  margin-block: 0;
  margin-inline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px 5px 12px;
  margin-bottom: 28px;
  z-index: 6;
  line-height: 1.2;
}

.popup__form_input-name:focus {
  outline: none;
  border: 2px solid rgba(30, 144, 255, 0.75);
  -webkit-box-shadow: 0px 0px 4px 0 rgba(30, 144, 255, 0.75);
          box-shadow: 0px 0px 4px 0 rgba(30, 144, 255, 0.75);
  border-radius: 2px;
}

@media screen and (max-width: 495px) {
  .popup__form_input-name {
    max-width: 84.4%;
    font-size: 14px;
    margin-bottom: 30px;
  }
}