.element__caption_button-like {
  height: 19px;
  margin: 0;
  padding: 0;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 22px;
  width: 100%;
  background: #ffffff url(../../../../images/like.svg) no-repeat center / 22px;
  border: none;
  border-radius: 0;
  align-self: center;
  justify-content: center;
  object-position: center;
  object-fit: cover;
  margin-left: 25px;
  z-index: 2;
}

.element__caption_button-like:hover {
  opacity: 0.7;
  cursor: pointer;
}

.element__caption_button-like:focus {
  opacity: 0.7;
}
