.profile__info_button-edit {
  height: 24px;
  margin: 0;
  padding: 0;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 24px;
  background: #000000 url(../../../../images/pen.svg) no-repeat center / 10px;
  border: 1px solid #ffffff;
  align-self: center;
  justify-content: center;
  object-position: center;
  object-fit: cover;
  margin-top: 8px;
}

.profile__info_button-edit:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__info_button-edit:focus {
  opacity: 0.7;
}

@media screen and (max-width: 495px) {
  .profile__info_button-edit {
    width: 18px;
    height: 18px;
    padding: 4px;
    margin: 0;
    background: #000000 url(../../../../images/pen.svg) no-repeat center / 7.5px;
  }
}
