.profile__info_button-edit {
  height: 24px;
  margin: 0;
  padding: 0;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24px;
  background: #000000 url(../../../../images/pen.svg) no-repeat center / 10px;
  border: 1px solid #ffffff;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 8px;
}

.profile__info_button-edit:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__info_button-edit:focus {
  opacity: 0.7;
}

@media screen and (max-width: 495px) {
  .profile__info_button-edit {
    width: 18px;
    height: 18px;
    padding: 4px;
    margin: 0;
    background: #000000 url(../../../../images/pen.svg) no-repeat center / 7.5px;
  }
}