.form__label {
  min-height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-block: 0;
  margin-inline: 0;
  margin-bottom: 13px;
}

/*
.form__label:first-of-type {
  margin-bottom: 45px;
}

.form__label:last-of-type {
  margin-bottom: 28px;
}
*/
