.profile__avatar {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}
