.profile__avatar {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 120px;
  object-fit: contain;
}

@media screen and (max-width: 770px) {
  .profile__avatar {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
  }
}
