.button__submit {
  max-width: 358px;
  margin-block: 0;
  margin-inline: 0;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  padding: 14px 125px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  z-index: 6;
}

.button__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button__submit:focus {
  opacity: 0.8;
}

@media screen and (max-width: 495px) {
  .button__submit {
    max-width: 238px;
    font-size: 14px;
    height: 46px;
  }
}
