.profile__info {
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  grid: -webkit-min-content / -webkit-max-content;
  grid: min-content / max-content;
  gap: 16px 18px;
  max-width: 100%;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin: auto 30px;
}

@media screen and (max-width: 770px) {
  .profile__info {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: -1;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    margin: 0;
  }
}

@media screen and (max-width: 630px) {
  .profile__info {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 10px;
  }
}

@media screen and (max-width: 495px) {
  .profile__info {
    margin: 0 auto;
    max-width: 282px;
  }
}