.popup__title {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 358px;
  width: 100%;
  padding-top: 34px;
  margin-block: 0;
  margin-inline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  -ms-grid-column-align: center;
  justify-self: center;
  z-index: 6;
}

@media screen and (max-width: 495px) {
  .popup__title {
    max-width: 282px;
    padding: 26px 22px 0;
    font-size: 18px;
    margin-bottom: 60px;
  }
}
