.button_name-close {
  height: 32px;
  position: absolute;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  width: 32px;
  background: transparent url(../../../images/Close.svg) no-repeat center / 32px;
  border-radius: 0;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  position: relative;
  z-index: 11;
}

@media screen and (max-width: 495px) {
  .button_name-close {
    width: 20px;
    height: 20px;
    background: transparent url(../../../images/Close.svg) no-repeat center /
      20px;
    background-size: 20px;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}