.button-delete {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;


  height: 19.3px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  max-width: 18px;
  position: relative;
  background: transparent url(../../images/delete.svg) no-repeat center /
    18px;
  margin-top: 20px;
  margin-right: 20px;
  justify-self: end;
  z-index: 2;
}

.button-delete:hover {
  opacity: 0.6;
  cursor: pointer;
}

.button-delete:focus {
  opacity: 0.6;
}
